@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ligh-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --hover-green: hsl(150, 53%, 44%);
}
img {
  max-width: 100%;
}

p {
  font-size: 28px;
  line-height: 1.5;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  background-color: var(--dark-blue);
  padding: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}

.advice-container {
  background-color: var(--dark-grayish-blue);
  padding: 3.25rem;
  border-radius: 1rem;
  position: relative;
}

.advice-container h1 {
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.advice-container p {
  margin-bottom: 2rem;
  color: var(--ligh-cyan);
  font-weight: 800;
}

.advice-container picture img {
  margin-bottom: 1rem;
}

.advice-container button {
  background-color: var(--neon-green);
  padding: 1.1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.advice-container button:hover {
  box-shadow: var(--neon-green);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 500px) {
  .advice-container {
    max-width: 480px;
  }
}

.icon-img {
  padding: 0;
  margin: 0;
}
